.gradle
.idea
build
*.iml
.orig
publish
doc
*.actionScriptProperties
*.flexProperties
*.project
*.flexLibProperties
flashbuilder-integration/fb-air-fx/src/main/actionscript/Main.mxml
flashbuilder-integration/fb-air-fx/src/main/actionscript/app-descriptor.xml
flashbuilder-integration/fb-mobile-as/src/main/actionscript/Main.as
flashbuilder-integration/fb-mobile-as/src/main/actionscript/app-descriptor.xml
flashbuilder-integration/fb-mobile-fx/src/main/actionscript/Main.mxml
flashbuilder-integration/fb-mobile-fx/src/main/actionscript/app-descriptor.xml
flashbuilder-integration/fb-swf-as/src/main/actionscript/Main.as
flashbuilder-integration/fb-swf-fx/src/main/actionscript/org/gradlefx/Main.mxml
intellij-integration/iml-air-as/src/main/actionscript/Main-app.xml
intellij-integration/iml-air-as/src/main/actionscript/Main.as
intellij-integration/iml-air-fx/src/main/actionscript/Main-app.xml
intellij-integration/iml-air-fx/src/main/actionscript/Main.mxml
intellij-integration/iml-mobile-android-as/src/main/actionscript/MainTestApp-app.xml
intellij-integration/iml-mobile-android-as/src/main/actionscript/MainTestApp.as
intellij-integration/iml-mobile-android-fx/src/main/actionscript/MainTestApp-app.xml
intellij-integration/iml-mobile-android-fx/src/main/actionscript/MainTestApp.mxml
intellij-integration/iml-mobile-ios-as/src/main/actionscript/MainTestApp-app.xml
intellij-integration/iml-mobile-ios-as/src/main/actionscript/MainTestApp.as
intellij-integration/iml-mobile-ios-fx/src/main/actionscript/MainTestApp-app.xml
intellij-integration/iml-mobile-ios-fx/src/main/actionscript/MainTestApp.mxml
intellij-integration/iml-swf-as/src/main/actionscript/org/gradlefx/MainTestApp.as
intellij-integration/iml-swf-fx/src/main/actionscript/org/gradlefx/MainTestApp.mxml
